<div ng-controller="NewRoomModalCtrl as $ctrl" class="new-room-modal">
    <script type="text/ng-template" id="new-room-modal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create new room</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form class="new-room-form">
                <label for="new-room-name">Enter a room name</label>
                <input type="text" name="new-room" placeholder="New room name" id="new-room-name">
                <button type="button" class="btn btn-default cancel">Cancel</button>
                <button type="submit" class="btn btn-primary submit-new-room">Create Room</button>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button">Cancel</button>
        </div>
    </script>
</div>